/*
 * Styles for article content paragraph
 *
*/

.ucb-article-blockquote blockquote {
  border: none;
  font-size: 150%;
  line-height: 2.5;
  text-align: left;
  font-style: italic;
  color: gray;
}

.ucb-article-blockquote i.fas {
  float: left;
  padding-right: 15px;
}

.ucb-article-content-image {
  text-align: center;
}

.ucb-article-content-media-left img,
.ucb-article-content-media-right img,
.ucb-article-content-media-above img,
.ucb-article-content-media-below img {
  width: auto;
  height: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.ucb-article-body .paragraph--type--hero-unit {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.ucb-article-content-media-left,
.ucb-article-content-media-right {
  align-self: center;
  text-align: center;
}

.ucb-article-content-media.ucb-article-content-media-above,
.ucb-article-content-media.ucb-article-content-media-below {
  text-align: center;
}

/*
* For fixing the horizontal scroll bar from hero unit when logged in
* -34px is half the width of the admin toolbar
*/
@media screen and (min-width: 975px) {
  .toolbar-fixed .ucb-article-body .paragraph--type--hero-unit {
    width: 100vw;
    margin-left: calc(-50vw - 34px);
  }

  .toolbar-fixed .ucb-article-body .paragraph--type--hero-unit .container {
    left: 34px;
    position: relative;
  }
}
