/*
 * Styles for hero unit paragraph
 *
 */

.paragraph.paragraph--type--hero-unit {
  font-size: 120%;
  margin-bottom: 1em;
}

.paragraph.paragraph--type--hero-unit.text-white h2 {
  text-shadow: 3px 3px 3px rgb(20 20 20 / 80%);
}

.paragraph.paragraph--type--hero-unit.size-large {
  padding: 100px 2rem;
}

.paragraph.paragraph--type--hero-unit.size-large h2 {
  font-size: 250%;
}

.paragraph.paragraph--type--hero-unit.size-medium {
  padding: 2rem;
}

.paragraph.paragraph--type--hero-unit.size-small {
  padding: 1rem;
  font-size: initial;
}
