{#
/**
 * @file
 * Theme to implement a blockquote paragraph
 *
 * Created by Joshua Nicholson on 11/22/21
*
#}

<div class="ucb-article-blockquote">
        {{ content.field_article_blockquote_icon }}
        {{ content.field_article_blockquote_text }}
</div>