{#
/**
* Theme layout to display below content information.
*
* Created by jnichol on 1/31/22
*/
#}

<div class="ucb-below-content">
    {% for item in items %}
        {{ item|render }}
    {% endfor %}
</div>