{#
/**
* Theme layout to display a article media.
*
* Created by jnichol on 12/3/21
*/
#}


{% for item in items %}
  {% if item.entity.field_media_image.entity.fileuri|render %}
    <img itemprop="image" src="{{ file_url(item.entity.field_media_image.entity.fileuri) }}" alt="{{ item.entity.field_media_image.alt }}">
  {% else %}
    <span itemprop="video">{{ item }}</span>
  {% endif %}
{% endfor %}