{#
/**
* Theme layout to display a UCB Person Email Field.
*
* Created by jsparks on 9/1/21
*/
#}

<ul class="ucb-person-email-address">
    {% for item in items %}
    <li>
        <i class="fa fal fa-envelope"></i>&nbsp;<a href="mailto:{{ item.content|render|striptags|trim }}">{{
            item.attributes
            }}{{ item.content }}</a>
    </li>
    {% endfor %}
</ul>